.navgation-bar{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
    height: 80px;
    /* margin-left: 5px; */
    cursor: pointer;
}

.user-info{
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info p{
    margin-bottom: 0;
}

.user-info .small-icon{
    height: 70%;
    margin-right: 5px;
    cursor: pointer;
}

.user-pic{
    height: 100%;
    border-radius: 50%;
    margin-right: 8px;
}