@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.registeration-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    margin-left: 30px;
}

.register-welcome {
    text-align: left;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -0.017em;
    color: #505050;
    margin-top: 50px;
}

.register-corner {
    text-align: left;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -0.017em;
    text-decoration-line: underline;
    margin-bottom: 40px;
    color: #C48F50;
}

.register-welcomeMsg {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.012em;
    color: #949494;
    margin-bottom: 40px;
}

.registerMsg {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.012em;
    color: #505050;
    margin-bottom: 10px;
}
.register-input{
    width: 80%;
    align-items: baseline;
}

.register-input * {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.012em;
    color: #A6A6A6;
}


.register-button {
    width: 40%;
    padding: 10px 8px;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    color: #FFFFFF; 
    text-align: center; 
    background: #EBAB5F;
    border-radius: 11px;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sign_in_redirect {
    width: 90%;
    flex-direction: row;
    text-align: left;
    color: #505050;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.012em;
}

.sign_in_redirect_button {
    font-size: 14px;
    letter-spacing: -0.012em;
    color: #b38247;
    
}

.registration-validation {
    border: none;
    height: min-content;
    padding: 0;
    text-align: start;
    font-size: x-small;
    color: red;
}